[user]
	email = alexis.gros@imt-atlantique.net
	name = Alexis GROS

[alias]
    co = commit
    st = status
    ch = checkout
    del = branch -D
    chb = checkout -b
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    undo = reset HEAD~1 --mixed
    reset = !git reset --hard
    done = !git push origin HEAD
